.contact{
  overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.contact form{
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
}

form .name ,.email{
  background-color: rgb(50, 50, 50);
  height:2.5rem;
  width:35rem;
  border:none;
  border-radius: 0.5rem;
  color:white;
}

form .msg{
  background-color: rgb(50, 50, 50);
  height:10rem;
  border:none;
  border-radius: 0.5rem;
  color:white;
}

.submitBtn{
  width:10rem;
  height:3rem;
  background: white;
  border:none;
  margin-left:12rem;
  border-radius: 1rem;
}
.contactDes{
   padding: 1rem;
   font-size: medium;
   font-weight: 300;
}
.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.link{
  object-fit: cover;
  height:3rem;
  margin:0 0.75rem;
  
}